services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: matchdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  app:
    build: .
    ports:
      - "8080:8080"
      - "5005:5005"
    depends_on:
      - postgres
    environment:
      - SPRING_PROFILES_ACTIVE=docker
